
variables:
  solution: 'ServerHost.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  
jobs:
- job: 'csharpWindows'  
  pool:
    vmImage: vs2019-latest    
  displayName: 'C# (Windows)'
  
  steps:
  - task: NuGetToolInstaller@0

  - task: NuGetCommand@2
    inputs:
      restoreSolution: '$(solution)'

  - task: VSBuild@1
    inputs:
      solution: '$(solution)'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'

  - task: VSTest@2
    inputs:
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'
      codeCoverageEnabled: True
      
- job: 'csharpLinux'
  pool:
    vmImage: ubuntu-20.04
  displayName: 'C# (Linux)'

  steps:
  - script: |
      mono --version
      msbuild /version
      dotnet --info | grep 'Base Path'
      ls /usr/share/dotnet/shared/Microsoft.NETCore.App/
    displayName: 'Environment Info'
      
  - script: |
      msbuild /t:restore $(solution)
      msbuild /p:Configuration=Debug $(solution)
    displayName: 'Build'
    
  - script: |
      bash ./Test.sh
    displayName: 'Test'
