[project]
	description = .NET Server Hosting utility library, including in-process server host testing.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jorgen Thelin (jthelin)
[access "refs/for/refs/*"]
	read = group user/Jorgen Thelin (jthelin)
	push = group user/Jorgen Thelin (jthelin)
	label-Code-Review = -2..+2 group user/Jorgen Thelin (jthelin)
	label-Verified = -1..+1 group user/Jorgen Thelin (jthelin)
	rebase = group user/Jorgen Thelin (jthelin)
	removeReviewer = group user/Jorgen Thelin (jthelin)
	submit = group user/Jorgen Thelin (jthelin)
[access "refs/heads/*"]
	read = group user/Jorgen Thelin (jthelin)
	create = group user/Jorgen Thelin (jthelin)
	push = +force group user/Jorgen Thelin (jthelin)
	pushMerge = group user/Jorgen Thelin (jthelin)
[access "refs/tags/*"]
	push = +force group user/Jorgen Thelin (jthelin)
	pushTag = group user/Jorgen Thelin (jthelin)
	pushSignedTag = group user/Jorgen Thelin (jthelin)
